@charset "utf-8";
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color: #666;
}

.headerImg li {
	display: inline-block;
}

.threeImg {
	position: absolute;
	right: 10px;
}

.topimage {
	border: 1px solid red;
	padding-bottom: 10px;
}

.login {
	display: inline-block;
	padding-right: 10px;
}

.toptwo {
	padding: 10px 20px 5px 60px; 
}

.truenav {
	background-color: #29B078;
}


.newbrand {
	margin: 10px;
	padding-bottom: 10px;
}

.newnav {
	padding: 10px 35px 20px;
	background-color: #29B078;
}

.bottomw {
	padding: 30px 0 0 0;
}


.navself li a:link,
.navself li a:visited {
	color: #FFF;
	padding-bottom: 11px;
}

.navself li a:hover {
	border-bottom: 2px solid #FFF;
}

.blankArea {
	height: 6vw;
	width: 100%;
	text-align:center;
}

.blankAreas {
	height: 73px;
}

.blankAreasmall {
	padding-top: 190px;
	height: 20px;
}

.tab1Area .tab2Area .tab3Area .tab4Area .tab5Area {
	margin-bottom: 20px;
	padding: 5px;
}

.miaobaob {
	border-bottom: 1px solid #DDD;
}

.mianbao {
	background-color: #FFF;
	margin-bottom: 10px;
}

.mianbao li a:link,
.mianbao li a:visited {
	color: #000;
	border-bottom: none;
	text-decoration:none;
	font-weight: 700;
}

.selfLabel {
	padding: 10px 20px 10px 28px;
	border-bottom: 1px solid #DDD;
}

.selfLabel h4 {
	display: inline-block;
	padding-top: 20px;
}

.tab1 {
	padding: 10px 20px 10px 28px;
	border-bottom: 1px solid #DDD;
}

.tab1 a{
	display: inline-block;
	padding: 10px 20px;
}

.tab1 a:link,
.tab1 a:visited {
	color: #000;
	border-bottom: none;
	text-decoration:none;
	font-weight: 500;
}

.tab1 a:hover {
	color: #FFF;
	border-bottom: none;
	text-decoration:none;
	font-weight: 500;
	background-color: #29B078;
}

.selfLabel h4 {
	font-weight: 560;	
}

.mediabottom {
	padding-bottom: 10px;
}

.media3M {
	padding: 0 20px;
}

.mediathree {
	margin: 5px 0px;
	padding: 0 5px 20px;
}

.box { 
	width:100%;
	height:100%;
	position:relative;
	background:rgba(255,255,255,1);
	cursor:pointer;
}

.box .bmbox { 
	width:100%;
	height:100%;
    background:rgba(0,0,0,0.3);
    position:absolute; 
    bottom:0px; 
    left:0px; 
    display:none;
    font:12px/30px "宋体"; color:white;
    text-align:center;
}

.box:hover .bmbox {
	width:100%;
	height:100%;
    background:rgba(0,0,0,0.3);
    position:absolute; 
    bottom:0px; 
    left:0px; 
    display:block;
    font:12px/30px "宋体"; color:white;
    text-align:center;
    padding: 25px;
}

.bmbox span {
	font-weight: 570;
	font-size: 17px;
}

.headh5 {
	margin: 10px;
	font-weight: 560;
	font-size: 18px;
}


.footer {
	padding: 20px;
	background-color: #29B078;
}

.footer01 {
	color: #FFF;
	margin: 1px 5px 0;
	padding-bottom: 5px;
	text-align: center;
	background-color: #29B078;
}

.footerinfo {
	height: 40px;
	background-color: #29B078;
	border-top: 1px solid #FFF;
	color: #FFF;
	padding: 1px;
	margin: 1px;
	text-align: center;
}

.tab2-h {
	font-size: 18px;
}

.tab2-h3 {
	font-size: 16px;
}

.tab2-table {
	padding: 10px;
}

.tab2-tableBottom {
	padding-bottom: 5px;
}

.footerArea {
	height: 20px;
	padding-top: 20px;
}

/*没有小于768px，是因为Bootstrap3以移动端优先设计*/

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.tab2-h {
		font-size: 20px;
	}
	.tab2-h3 {
		font-size: 18px;
	}
	.tab2-p {
		font-size: 15px;
	}

	.headh5 {
		font-size: 19px;
	}
	.tab2-img {
		float: left;
	}
	.mediathree {
		margin: 10px 0px;
		padding: 0 10px 40px;
	}
	.media3M {
		padding: 0 40px;
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.tab2-h {
		font-size: 22px;
	}
	.tab2-h3 {
		font-size: 20px;
	}
	.headh5 {
		font-size: 20px;
	}
	.tab2-p {
		font-size: 16px;
	}
	.tab2-img {
		float: left;
	}
	.mediathree {
		margin: 10px 0px;
		padding: 0 10px 40px;
	}
	.media3M {
		padding: 0 60px;
	}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.tab2-h {
		font-size: 24px;
	}
	.tab2-h3 {
		font-size: 22px;
	}
	.headh5 {
		font-size: 21px;
	}
	.tab2-p {
		font-size: 18px;
	}
	.tab2-img {
		float: left;
	}
	.mediathree {
		margin: 10px 0px;
		padding: 0 10px 40px;
	}
	.media3M {
		padding: 0 80px;
	}
}
